/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 .wp-block-achtvier-bar-counter {
   width: 100%; }
   .wp-block-achtvier-bar-counter .innerBar {
     height: 100%; }
   .wp-block-achtvier-bar-counter .counterlabel-textwrapper {
     position: absolute;
     top: 0; }
   .wp-block-achtvier-bar-counter .counter-wrapper {
     position: relative; }
