/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 
 [data-type="achtvierblocks/wrapperblocks"]  {
    background-color: #d3deff;
    padding: .3rem;
  }
  [data-type="achtvierblocks/wrapperblocks"] label ,   [data-type="achtvierblocks/wrapperblocks"]   .block-editor-inner-blocks{
    background-color: #fff;
    
  } 

