/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .wp-block-achtvier-better-tile  {
   background: #fff;
   border: 0.1rem dotted #000;
   color: #000;
   margin: 0 auto;
   max-width: 740px;
   padding: 2rem;
 }
 .gutenberg__editor {

 }
