/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block-achtvier-section {
  border: 2px dotted #0085ba;
  padding: 1rem;
  background-color: #f7f5f5;
}
