/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 .wp-block-achtvier-bar-counter {
   width: 100%;
   .innerBar {
     height:100%;
   }
   .counterlabel-textwrapper {
     position: absolute;
     top: 0;
   }
   .counter-wrapper {
     position: relative;
   }
 }
