/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 .wp-block-achtvier-overlay-tile {
   position: relative;
   .linkoverlay {
     position: absolute;

     top: 0;
     p {
       padding-top: 0;
     }
     img {
       width: 100%;
     }

   }
 }
 .wp-block-achtvier-overlay-tile {
   .linkoverlay {
     height: 100%;
     width: 100%;
     overflow: hidden;
     padding: 15px;

   }
 }
 /*Styling vom Standard overlay-block wird überbückt*/
 .wp-block-achtvier-overlay-tile .linkoverlay:hover {
   background-color: rgba(0,0,0,0);

  }
 .wp-block-achtvier-overlay-tile .linkoverlay {
   background-color: rgba(0,0,0,0);

 }
 .wp-block-achtvier-overlay-tile .linkoverlay a, .wp-block-achtvier-overlay-tile .linkoverlay p {
   opacity: 0;

 }
  .overlay-inner-wrapper {
   height: 100%;

 }
 .linkoverlay:hover .overlay-inner-wrapper a, .linkoverlay:hover .overlay-inner-wrapper p {
   opacity: 1;
   -webkit-transition: .7s ease;
   transition: .7s ease;

 }
 .linkoverlay:hover .overlay-inner-wrapper {
   background-color: rgba(0,0,0,.6);
   -webkit-transition: .7s ease;
   transition: .7s ease;
  }
  .linkoverlay .overlay-inner-wrapper {
   background-color: rgba(0,0,0,0);
   -webkit-transition: .7s ease;
   transition: .7s ease;
 }
 .linkoverlay .overlay-inner-wrapper a, .linkoverlay .overlay-inner-wrapper p {
   opacity: 0;
   -webkit-transition: .7s ease;
   transition: .7s ease;
 }
 .linkoverlay:hover .overlay-inner-wrapper a, .linkoverlay:hover .overlay-inner-wrapper p {
   opacity: 1;
   -webkit-transition: .7s ease;
   transition: .7s ease;
 }
