/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .wp-block-achtvier-block-achtvier-guten-slider {
   background: #f8f8f8;
   margin: 0 auto;
   padding: 2rem; 
  
   .editor-block-list__layout {
     width:100%;
     min-height: 1px;
   
   }

 }
 /*
 .wp-block-achtvier-block-achtvier-guten-slider > .block-editor-inner-blocks > .block-editor-block-list__layout {
   display: flex;
   flex-wrap: wrap;
    > div {
      flex: 0 0 25%;
      flex-wrap: wrap;
      max-width: 25%;
      
 }

 } */
  .block-editor-editor-skeleton__content .components-panel__body-toggle.components-button {
        background-color:      #007cba;
        color: #fff;

     }
[data-type="achtvier/block-achtvier-guten-slider"] {
  width: 100%;
}