/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 .wp-block-achtvierblocks-better-mini-content  {
   //max-width: 20rem;
   padding:1rem;
   img {
     width:100%;
   }
   p {
    max-width: 20rem;
    padding: 0 1rem;
   }
   h3{
     max-width: 20rem;
     padding:1rem;

   }
 }
